@page
@model NET_Projekt.Pages.LoginModel
@{
	ViewData["Title"] = "Login";
}

<div class="form-container">
	<form method="post">
		@Html.ValidationSummary("", new { @class = "fw-bold text-danger" })
		<div>
			<label asp-for="InputModel.Email">Email</label>
			<input asp-for="InputModel.Email" type="email" class="form-control" placeholder="name@example.com" />
		</div>
		<div>
			<label asp-for="InputModel.Password" class="mt-3">Hasło</label>
			<input asp-for="InputModel.Password" type="password" class="form-control" placeholder="password" />
		</div>
		<div class="text-center mt-3">
			<button type="submit" class="btn btn-primary">Zaloguj się</button>
		</div>
	</form>
</div>
